
<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <h4><span class="badge badge-dark" style="margin:10px 10px 0 0;">MyRugbyUnion</span></h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>   

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chat']">Chat<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/roster']">Roster<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/schedule']">Schedule<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dues']">Dues<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li *ngIf="authority == 1" class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>

<div class="container">
  

  <div class="table-responsive reduce">
 
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date/Time</th>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Location</th>
              <th scope="col">Address</th>

            </tr>
          </thead>
          <tbody  class="table-striped">
            <tr *ngFor="let event of events">
              <th scope="row">{{event.startTime | date: 'short'}}</th>
              <td ><a href="/schedule/{{event._id}}">{{event.title}}</a></td>
              <td>{{event.type}}</td>          
              <td>{{event.location}}</td>
              <td>{{event.address.street+', '+event.address.city+', '+event.address.state+', '+event.address.zip}}</td>
            </tr>
              
          </tbody>
        </table>
      </div>

</div>