
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <h4><span class="badge badge-dark" style="margin:10px 10px 0 0;">MyRugbyUnion</span></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>   
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/chat']">Chat<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/roster']">Roster<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/schedule']">Schedule<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dues']">Dues<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li *ngIf="authority == 1" class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']">Admin</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>



<div class="container">
  <div class="row no-gutters">
      <div class="col-md-8">
          
          <div class="jumbotron">

            <h1 class="display-5">Next Event</h1>
            <h3>{{event.type+": " +event.title}}</h3>
            <h6>{{event.startTime | date:'medium'}}</h6>
            <h5>{{event.location}}</h5>
            <p class="lead">{{event.address.street+', '+event.address.city+', '+event.address.state+', '+event.address.zip}}</p>
          
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/schedule" role="button">View Schedule</a>
          </div>
       </div>
    <div class="col-md-4">
      <div class="jumbotron dark border-right border-bottom border-left">
          <div *ngIf="!profile" class="alert alert-warning" role="alert">
              Complete your <a href="/profile">player profile</a> to be added to the roster!
              <br>
          </div>
        <h2 class="display-6">Users in Chat</h2>
        <hr class="my-4">
        <span *ngIf="users.length == 0">
          <p class="text-monospace reduce" >No Users in chat</p>
        </span>
        <span *ngIf="users.length > 0">
          <span *ngFor="let user of users">
            <p class="text-monospace reduce">{{user}}</p>
          </span>
        </span>
      
        
  
        <p class="lead">
          <a class="btn btn-primary btn-sm" [routerLink]="['/chat']" role="button">Join Chat</a>
        </p>
      </div>
   </div>
   <!-- <div class="col-md-8 order-md-1">
      <div class="jumbotron">
        <h1 class="display-5">Next Event</h1>
        <h3>{{event.type+": " +event.title}}</h3>
        <h6>{{event.startTime | date:'medium'}}</h6>
        <h5>{{event.location}}</h5>
        <p class="lead">{{event.address.street+', '+event.address.city+', '+event.address.state+', '+event.address.zip}}</p>
      
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/schedule" role="button">View Schedule</a>
      </div>
   </div> -->
</div>
</div>