
#wrapper {
    padding: 20px 0 ;
}



.dark{
    background-color: #ffffff;
    padding-top: 25px;
    height: 100%;
}

.jumbotron {
    margin-bottom: 0;
}

.reduce {
    font-size: .8em;
    margin-left: 3px;
}

/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

// Example usage: */

/* @include media-breakpoint-up(sm) {
    .hide-chat{
        display:hidden;
    }
} */

/* @media (min-width: 576px) { 
    .hide-chat{
        display:hidden;
    }
 } */
